path {
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	animation: dash 1.8s ease-in-out forwards;
	opacity: 0.1;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
		opacity: 1;
	}
}

svg {
	width: 500px;
	padding: 20px;
	margin-top: 20%;
}

body {
	text-align: center;
}